{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="tpz9oZPSQykttxpfZM4Gw3lKKnmpPVd5zBdLQ8X-JwE" />

    <!-- Links to styles-->
    <link rel="stylesheet" href="{% static 'star/css/blog_details.css' %}"/>
    <link rel="stylesheet" href="{% static 'star/css/bootstrap.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&family=Castoro+Titling&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap" rel="stylesheet"/>

    <title>STar: {{blog.title}}</title>
</head>
<body style="background-color: black;">
    <header>
        <h1>Dr. Micheal STar</h1>
    </header>
    <div class="full_blog container">
        <div class="row">
            <div class="col-md-9" style="background-color: white;">
                <div class="star">
                    <br/>
                    <div class="title">{{blog.title}}</div>
                    <div style="text-align: center;"><b>{{blog.category}}</b></div>
                    <div class="time"><small>{{blog.date_created}}</small></div>
                    <p class="blog_image"><img src="{{blog.image}}" height="190px" alt="{{blog.title}}"/></p>
                    <div class="intro">{{ blog.intro | linebreaks }}</div>
                    <div class="boldi">{{ blog.boldi | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf1 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf2 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf3 | linebreaks }}</div>
                    <div class="boldi">{{ blog.boldi2 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf4 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf5 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf6 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf7 | linebreaks }}</div>
                    <div class="boldi">{{ blog.boldi3 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf8 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf9 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf10 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf11 | linebreaks }}</div>
                    <div class="boldi">{{ blog.boldi4 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf12 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf13 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf14 | linebreaks }}</div>
                    <div class="paraf">{{ blog.paraf15 | linebreaks }}</div>
                    {% if blog.image2 != null %}
                        <div class="blog_image">
                            <img src="{{blog.image2}}" height="190px" alt="{{blog.title}}"/>
                        </div>
                    {% else %}
                        <div><br/></div>
                    {%endif%}
                    <div class="bolds">{{ blog.bolds | linebreaks }}</div>
                    <div class="paras">{{ blog.paras | linebreaks }}</div>
                    <div class="paras">{{ blog.paras1 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras2 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras3 | linebreaks }}</div>
                    <div class="bolds">{{ blog.bolds2 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras4 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras5 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras6 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras7 | linebreaks }}</div>
                    <div class="bolds">{{ blog.bolds3 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras8 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras9 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras10 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras11 | linebreaks }}</div>
                    <div class="bolds">{{ blog.bolds4 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras12 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras13 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras14 | linebreaks }}</div>
                    <div class="paras">{{ blog.paras15 | linebreaks }}</div>
                    <p style="text-align: center; font-weight: bolder;"><b>{{ blog.outro }}</b></p>
        
                </div><br/>
            </div>
            <div class="col-md-3">
                
                <!-- <div class="comments">
                    <div style="text-align: center;"><b>Comments</b></div>
                    <p>
                        {% for comment in comments %}
                        <div>
                            <b>{{comment.name}}</b>
                        </div>
                        <div>
                            {{comment.comment}}
                        </div>
                        {% endfor %}
                    </p>
                </div> -->
                <div class="message" style="background-color: aquamarine; margin-top:80px; padding: 12px;">
                    Directly message me through: 
                    <li><a href="https://www.facebook.com/michealstarofficial">FaceBook</a></li> or 
                    <li><a href="https://www.instagram.com/michealstarx">InstaGram</a></li> or 
                    <li><a href="https://wa.me/260761781385">WhatsApp</a></li>
                </div><br/>
            </div>
        </div>
        <!-- <div class="container">
            <h3>Commenting</h3>
            <form action="{% url 'blog_details' id=blog.id %}" method="POST">
                {% csrf_token %}
                {{ commentForm.as_p | linebreaks }}
                <br/><button>Post</button>
            </form>
        </div><br/> -->
        
        
    </div>
    <footer>
        <a href="{% url 'home_page' %}" style="text-decoration: none;"><nav-btn>HOME</nav-btn></a>
        <a href="{% url 'blog_home' %}" style="text-decoration: none;"><nav-btn>BLOG</nav-btn></a>
    </footer>
</body>
</html>