{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="tpz9oZPSQykttxpfZM4Gw3lKKnmpPVd5zBdLQ8X-JwE" />

    <!-- Links to CSS -->
    <link rel="stylesheet" href="{% static 'star/css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'star/css/bootstrap.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&family=Castoro+Titling&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap" rel="stylesheet"/>

    <title>Micheal STar</title>
</head>
<body style="
    background-image: linear-gradient(black, grey);

">
    <header>
        <h1>Micheal STar</h1>
        <div class="img"><img src="{% static 'star/images/logo.jpg' %}" height="120px" width="120px" class="logo_img"/></div>
    </header>
    <main class="container" style="justify-content: center; align-items: center;">
        <div class="row">
            <div class="introduction col-md-3">
                <p class="bio">BIO</p>
                <p>
                    How would I describe myself? I love meeting new people and making new connections. I am focused, reserved, disciplined, 
                    trustworthy, responsible and accountable.
                    
                </p>
                <p>
                    I began and completed my secondary education at Chimwemwe Secondary School. 
                </p>
                <p>
                    I love soccer, working out, playing chess, coding, writing, solving math, cartoon development, taking pictures of nature
                    and reading.
                </p>
                <p>
                    I founded <a href="https://www.studystar.me"> STudy STar</a>  when I was 18 years old.
                </p>
            </div>
            <div class="details col-md-8">
                <p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="details_data">SKILLS</p>
                            <ul>
                                <li>Coding</li>
                                <li>Programming</li>
                                <li>App Design and Development</li>
                                <li>Web Design and Development</li>
                                <li>API Development</li>
                                <li>Effective Learning</li>
                                <li>Analysing</li>
                                <li>Writing</li>
                                <li>Teaching</li>
                                <li>Influencing</li>
                                <li>Chess</li>
                                <li>Soccer</li>
                                <li>Business Administration</li>
                            </ul>
                            <p class="details_data">PROGRAMMING AND CODING LANGUAGES</p>
                            <ul>
                                <li>Python</li>
                                <li>JavaScript</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>C++</li>
                                <li>C</li>
                                <li>PHP</li>
                                <li>MySQL</li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <p class="details_data">CONTACT</p>
                            <ul>
                                <li><a href="https://www.facebook.com/michealstarofficial">Facebook</a></li>
                                <li><a href="https://wa.me/260761781385">WhatsApp</a></li>
                                <li><a href="https://www.instagram.com/michealstarx">Instagram</a></li>
                                <li><a href="https://www.tiktok.com/@michealstarx">Tiktok</a></li>
                                <li><a href="https://www.linkedin.com/in/michealstarx">LinkedIn</a></li>
                                <li><a href="https://www.github.com/michealstarx">GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </main>
    <footer>
        <a href="{% url 'home_page' %}" style="text-decoration: none;"><nav-btn class="selected">HOME</nav-btn></a>
        <a href="{% url 'blog_home' %}" style="text-decoration: none;"><nav-btn>BLOG</nav-btn></a>
    </footer>
</body>
</html>