{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STar: Images</title>
</head>
<body>
    <div class="images">
        <img src="{% static 'star/blog_images/last_night.jpg' %}" width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/last_night2.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/moon.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/moonimg.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/adrenaline.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/dopamine.jpeg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/michealstar.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/michealstar1.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/iq.png' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/iq.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/habit1.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/habit2.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/happiness1.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/happiness2.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
    </div>
</body>
</html>