{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STar: Images</title>
</head>
<body>
    <div class="images" style="text-align: center;">
        <p>1</p>
        <img src="{% static 'star/blog_images/last_night.jpg' %}" width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/last_night2.jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>2</p>
        <img src="{% static 'star/blog_images/moon.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/moonimg.jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>3</p>
        <img src="{% static 'star/blog_images/adrenaline.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/dopamine.jpeg' %}"  width="320px" height="200px" alt="image"/>
        <p>4</p>
        <img src="{% static 'star/blog_images/michealstar.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/michealstar1.jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>5</p>
        <img src="{% static 'star/blog_images/iq.png' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/iq.jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>6</p>
        <img src="{% static 'star/blog_images/habit1.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/habit2.jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>7</p>
        <img src="{% static 'star/blog_images/happiness1.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/happiness2.jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>8</p>
        <img src="{% static 'star/blog_images/Top51.png' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/Top52.png' %}"  width="320px" height="200px" alt="image"/>
        <p>9</p>
        <img src="{% static 'star/blog_images/clouds.jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/clouds1.jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>10</p>
        <img src="{% static 'star/blog_images/love (1).jpg' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/love (2).jpg' %}"  width="320px" height="200px" alt="image"/>
        <p>11</p>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
        <img src="{% static 'star/blog_images/' %}"  width="320px" height="200px" alt="image"/>
    </div>
</body>
</html>