{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STar: Images</title>
</head>
<body>
    <div class="images">
        <img src="{% static 'star/blog_images/last_night.jpg' %}" alt="image"/>
        <img src="{% static 'star/blog_images/last_night2.jpg' %}" alt="image"/>
        <img src="{% static 'star/blog_images/moon.jpg' %}" alt="image"/>
        <img src="{% static 'star/blog_images/moonimg.jpg' %}" alt="image"/>
        <img src="{% static 'star/blog_images/adrenaline.jpg' %}" alt="image"/>
        <img src="{% static 'star/blog_images/dopamine.jpeg' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
        <img src="{% static 'star/blog_images/' %}" alt="image"/>
    </div>
</body>
</html>